
@{
    Layout = null;
}
<email>
    <To>@ViewBag.USERNAME</To>
    <Subject>IntellaLend - Password Reset</Subject>
    <From>no-reply@IntellaLend.com</From>
    <Cc />
    <BCc />
    <Body>
        <![CDATA[
        <div>
            <p>Hello @ViewBag.DISPLAYNAME, </p>
            <p>
                Password has been reset for UserId <B>@ViewBag.USERNAME</B>. Please use the temporary password - <B>@ViewBag.PASSWORD</B> for first log on.
                Password must be changed after successful logon.
            </p>
            <br />
            <p>
                You can login to IntellaLend by clicking this link:
                @ViewBag.URL
            </p>

            <br />
            <br />
            <br />
            <br /> IntellaLend Team <br />

        </div>
        <footer> <p>Note: This is an auto generated email. Replies to this email is not monitored.</p></footer>
        ]]>
    </Body>
</email>
